# Core UI and Data Handling
streamlit
pandas
numpy
scikit-learn
scipy
plotly
matplotlib

# Advanced Clustering and Dimensionality Reduction
scikit-learn-extra
umap-learn
tensorflow
google-generativeai
